<div class="font-lato">
  <nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container-fluid ">
      <div class="navbar-header">
        <a routerLink="" class="navbar-brand weaver-size">
          <img class = "pull-left" id="logo" src="../../../../../assets/images/logo.png">Weaver</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a (click)="search()" class = "glyphicon glyphicon-search search-icon"></a></li>
        <li><input type = "text"
                   name = "search"
                   id = "query"
                   placeholder=" search event . . . "
                   class="search-text"></li>
        <li><a (click)="toNewEvent()">Create Event <i class="fas fa-plus"></i></a></li>
        <li><a (click)="toProfile()">Profile <i class="fa fa-user-circle"></i></a></li>
        <li><a routerLink="/login">Logout  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </nav>

  <div id="myTabContent" class="tab-content">
  <div class="topspace">
    <div class = "container">
      <h2 class = "headerfont centerText">Explore Events</h2>
      <main>

        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Events</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Going Events</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Saved Events</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4">Created Events</label>

        <section id="content1">
          <div class="tab-pane fade in active" id="live">
            <ul *ngFor = "let event of events"  class = "list-group">
              <li class = "list-group-item">
                <div class = "row">

                  <div class="col-xs-6" style="font-size: 15pt">
                  <span>
                    <a target="_blank" rel="noopener" class = "namefontStyle"
                       (click) = "toEventDetail(event._id)">
                      {{event.name}}</a>
                  </span>
                  </div>

                  <div class="col-xs-3 headerfont">
                    <span class="event-date">{{event.date}}</span>
                  </div>

                  <div class="col-xs-3 headerfont">
                    <span>{{event.location}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section id="content2">
        <div class="tab-pane fade" id="going">
          <ul *ngFor="let goingevent of goingevents" class = "list-group">

            <li class = "list-group-item">
              <div class = "row">
                <div class="col-xs-1 headerfont">
                  <a (click)="toAttendees(goingevent._id)">
                    Attendees
                  </a>
                </div>
                <div class="col-xs-6 headerfont" style="font-size: 15pt">
                    <span>
                      <a target="_blank" rel="noopener"
                         href= {{goingevent.url}}>
                        {{goingevent.name}}</a>
                    </span>
                </div>
                <div class="col-xs-2 headerfont">
                  <span class="event-date"> {{goingevent.date}}</span>
                </div>
                <div class="col-xs-2 headerfont">
                  <span>{{goingevent.location}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        </section>

        <section id="content3">
          <!--show saved events-->
          <div class="tab-pane fade" id="saved">
            <ul *ngFor="let savedevent of savedevents" class = "list-group">

              <li class = "list-group-item">
                <div class = "row">
                  <div class="col-xs-1 headerfont">
                    <a (click)="toAttendees(savedevent._id)">
                      Attendees
                    </a>
                  </div>
                  <div class="col-xs-6 headerfont" style="font-size: 15pt">
                    <span>
                      <a target="_blank" rel="noopener"
                         href= {{savedevent.url}}>
                        {{savedevent.name}}</a>
                    </span>
                  </div>
                  <div class="col-xs-2 headerfont">
                    <span class="event-date"> {{savedevent.date}}</span>
                  </div>
                  <div class="col-xs-2 headerfont">
                    <span>{{savedevent.location}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section id="content4">
          <div class="tab-pane fade in active" id="post">
            <ul *ngFor = "let postevent of postevents"  class = "list-group">
              <li class = "list-group-item">
                <div class = "row">

                  <div class="col-xs-4 headerfont">
                  <span>
                    <a target="_blank" rel="noopener" class = "namefontStyle"
                       (click) = "toEventDetail(postevent._id)">
                      {{postevent.name}}</a>
                  </span>
                  </div>

                  <div class="col-xs-3 fontStyle headerfont">
                    <span class="event-date">{{postevent.date}}</span>
                  </div>

                  <div class="col-xs-2 center fontStyle headerfont">
                    <span>{{postevent.location}}</span>
                  </div>

                  <div class="col-xs-3 fontStyle headerfont">
                  <div class="btn-group">
                    <button (click)="toEventEdit(postevent._id)" class = "noborder btn btn-default"><i class="material-icons">&#xe254;</i>
                    </button>
                    <button (click)="toDelete(postevent._id)" class = "noborder btn btn-default"
                    ><i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </div>
                </div>
                </div>
              </li>
            </ul>
          </div>
        </section>

      </main>
    </div>
  </div>
  </div>
</div>
