<div class="font-lato">
  <nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container-fluid ">
      <div class="navbar-header">
        <a routerLink="" class="navbar-brand weaver-size">
          <img class = "pull-left" id="logo" src="../../../../../assets/images/logo.png">Weaver</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/event" class = "glyphicon glyphicon-search search-icon"></a></li>
        <li><input type = "text"
                   name = "search"
                   placeholder=" search event . . . "
                   class="search-text"></li>
        <li><a (click)="toNewEvent()">Create Event <i class="fas fa-plus"></i></a></li>
        <li><a (click)="toProfile()">Profile <i class="fa fa-user-circle"></i></a></li>
        <li><a routerLink="/login">Logout  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </nav>

  <div class="topspace">
    <div class = "container">
      <h2>Explore Events </h2>

      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href = "#live">Events</a></li>
        <li><a data-toggle="tab" href = "#going">Going Events</a></li>
        <li><a data-toggle="tab" href = "#saved">Saved Events</a></li>
        <li><a data-toggle="tab" href = "#post">Created Events</a></li>
      </ul>
      <br>

      <!--show live events-->
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="live">

          <ul *ngFor = "let event of events"  class = "list-group">
            <li class = "list-group-item">
              <div class = "row">
                <div class="col-xs-1">
                  <a (click)="toAttendees()">
                    Attendees
                  </a>
                </div>

                <div class="col-xs-4" style="font-size: 15pt">
                  <span>
                    <a target="_blank" rel="noopener"
                       href={{event.url}}>
                      {{event.name}}</a>
                  </span>
                </div>

                <div class="col-xs-2">
                  <span>{{event.date}}</span>
                </div>

                <div class="col-xs-2">
                  <span>{{event.location}}</span>
                </div>

                <div class="col-xs-3">
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary withBorder">Interest</button>
                    <button type="button" class="btn btn-secondary withBorder">Going</button>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="tab-pane fade" id="post">
          <ul *ngFor="let postevent of postevents" class = "list-group">

            <li class = "list-group-item">
              <div class = "row">
                <div class="col-xs-1">
                  <a (click)="toAttendees(postevent._id)">
                    Attendees
                  </a>
                </div>
                <div class="col-xs-5" style="font-size: 15pt">
                  <span>
                    <a target="_blank" rel="noopener"
                    >
                      <!--href= {{postevent.url}}-->
                      {{postevent.name}} </a>
                  </span>
                </div>
                <div class="col-xs-2">
                  <span> {{postevent.date}}</span>
                </div>
                <div class="col-xs-2">
                  <span>{{postevent.location}}</span>
                </div>
                <div class="col-xs-2" style="font-size: 15pt">
                  <div class="btn-group">
                    <button (click)="toEventEdit(postevent._id)" class = "noborder btn btn-default"><i class="material-icons">&#xe254;</i>
                    </button>
                    <button (click)="toDelete(postevent._id)" class = "noborder btn btn-default"
                    ><i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </div>
                </div>


              </div>
            </li>

          </ul>
        </div>
        <!--show saved events-->
        <div class="tab-pane fade" id="saved">
          <ul *ngFor="let savedevent of savedevents" class = "list-group">

            <li class = "list-group-item">
              <div class = "row">
                <div class="col-xs-1">
                  <a (click)="toAttendees(savedevent._id)">
                    Attendees
                  </a>
                </div>
                <div class="col-xs-6" style="font-size: 15pt">
    <span>
      <a target="_blank" rel="noopener"
         href= {{savedevent.url}}>
        {{savedevent.name}}</a>
    </span>
                </div>
                <div class="col-xs-2">
                  <span> {{savedevent.date}}</span>
                </div>
                <div class="col-xs-2">
                  <span>{{savedevent.location}}</span>
                </div>

              </div>
            </li>

          </ul>
        </div>

        <!--show going events-->
        <div class="tab-pane fade" id="going">
          <ul *ngFor="let goingevent of goingevents" class = "list-group">

            <li class = "list-group-item">
              <div class = "row">
                <div class="col-xs-1">
                  <a (click)="toAttendees(goingevent._id)">
                    Attendees
                  </a>
                </div>
                <div class="col-xs-6" style="font-size: 15pt">
    <span>
      <a target="_blank" rel="noopener"
         href= {{goingevent.url}}>
        {{goingevent.name}}</a>
    </span>
                </div>
                <div class="col-xs-2">
                  <span> {{goingevent.date}}</span>
                </div>
                <div class="col-xs-2">
                  <span>{{goingevent.location}}</span>
                </div>

              </div>
            </li>

          </ul>
        </div>


      </div>

    </div>

  </div>
</div>
